# pandas

In [1]:
import pandas as pd

In [2]:
pd.__version__

'1.0.1'

In [3]:
dict_1 = {
    'name':['shubham','sudesh','rubby'],
    'city':['ludhiana','ludhiana','ludhiana'],
    'age':[23,24,46]
}

In [4]:
df = pd.Series(list_n)

In [5]:
df

0          [1, 2, 3]
1    [123, 123, 123]
dtype: object